# Database
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=
DB_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_ISSUER=
JWT_AUDIENCE=
